<form>
  <input type="text" (keyup.enter)="getRepos()" [(ngModel)]="username" name="username">
  <button type="submit" (click)="getRepos()">Search</button>
</form>

<table>
  <tr>
    <th>Name</th>
    <th>Stars</th>
    <th>Forks</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let repo of repos$">
    <td>{{repo.name}}</td>
    <td>{{repo.stargazers_count}}</td>
    <td>{{repo.forks_count}}</td>
    <td>{{repo.description}}</td>
  </tr>
  <tr *ngFor="let user of users$ | async">
    <td>{{user.email}}</td>
  </tr>
</table>
